    
        <div class="c-templates" id="szablony">
            <div class="o-wrap">
                
                <header class="o-header aligncenter anim anim--up">
                    <h2 class="o-lead o-lead--1">Szeroka oferta szablonów</h2>
                </header>
                
                <div class="o-article aligncenter anim anim--up">
                    <p>Regularnie wprowadzamy nowe szablony, które doskonale spełniają się w roli wizytówek firm.</p>
                    <p>Każdy z nich wyświetla się poprawnie na urządzeniach mobilnych (RWD).</p>
                    <p>Optymalizujemy również pod kątem SEO czyli pozycjonowania w wyszukiwarce Google.</p>
                </div>
                
                
            </div>
            
            <div class="c-templates__list">
                <ul class="c-templates__row">
                    <li class="item anim anim--up">
                        <a href="#">
                            <img src=<%= require("./img/templates/01.jpg") %> alt="01" width="400" height="217">
                        </a>
                    </li>
                    
                    <li class="item anim anim--delay1 anim--up">
                        <a href="#">
                            <img src=<%= require("./img/templates/02.jpg") %> alt="01" width="199" height="217">
                        </a>
                    </li>
                    
                    <li class="item anim anim--delay2 anim--up">
                        <a href="#">
                            <img src=<%= require("./img/templates/03.jpg") %> alt="01" width="398" height="217">
                        </a>
                    </li>
                    
                    <li class="item anim anim--delay3 anim--up">
                        <a href="#">
                            <img src=<%= require("./img/templates/04.jpg") %> alt="01" width="198" height="217">
                        </a>
                    </li>
                    
                    <li class="item anim anim--delay4 anim--up">
                        <a href="#">
                            <img src=<%= require("./img/templates/05.jpg") %> alt="01" width="398" height="217">
                        </a>
                    </li>
                    
                    <li class="item anim anim--delay5 anim--up">
                        <a href="#">
                            <img src=<%= require("./img/templates/06.jpg") %> alt="01" width="400" height="217">
                        </a>
                    </li>              
                </ul>
                
                <ul class="c-templates__row">
                    <li class="item anim anim--delay6 anim--up">
                        <a href="#">
                            <img src=<%= require("./img/templates/07.jpg") %> alt="01" width="400" height="217">
                        </a>
                    </li>
                    
                    <li class="item anim anim--delay7 anim--up">
                        <a href="#">
                            <img src=<%= require("./img/templates/08.jpg") %> alt="01" width="398" height="217">
                        </a>
                    </li>
                    
                    <li class="item anim anim--delay8 anim--up">
                        <a href="#">
                            <img src=<%= require("./img/templates/09.jpg") %> alt="01" width="398" height="217">
                        </a>
                    </li>
                    
                    <li class="item anim anim--delay9 anim--up">
                        <a href="#">
                            <img src=<%= require("./img/templates/10.jpg") %> alt="01" width="398" height="217">
                        </a>
                    </li>
                    
                    <li class="item anim anim--delay10 anim--up">
                        <a href="#">
                            <img src=<%= require("./img/templates/11.jpg") %> alt="01" width="400" height="217">
                        </a>
                    </li>            
                </ul>
            </div>
        </div>
    
    
